# Este es el archivo de configuraci贸n principal para tu Worker.
# Puedes encontrar m谩s informaci贸n en la documentaci贸n de Wrangler:
# https://developers.cloudflare.com/workers/wrangler/configuration/

name = "worker-processor" #  El nombre de tu Worker
main = "src/index.ts" #  El punto de entrada de tu Worker
compatibility_date = "2024-06-28" #  La fecha de compatibilidad para asegurar que no haya breaking changes
compatibility_flags = ["nodejs_compat"] #  AADIR ESTO para usar APIs de Node.js

# =================================================================================
#  VINCULACIN CON SERVICIOS DE CLOUDFLARE
# =================================================================================

#  Vinculaci贸n con el Bucket de R2
# Esto permite que el Worker lea los archivos que sube tu app de Heroku.
[[r2_buckets]]
binding = "R2_BUCKET" # Nombre con el que nos referiremos al bucket en el c贸digo del Worker.
bucket_name = "excelfiles" # ★ 隆IMPORTANTE! Este es el nombre exacto de tu bucket en Cloudflare R2. 